__pycache__/
*.pt
paper/*.aux
paper/*.log
paper/*.out
nohup.out
paper/scramble-inversion-diffusion.aux
paper/scramble-inversion-diffusion.log
paper/scramble-inversion-diffusion.out
*.aux
*.out
paper2/*.log
